*{
  box-sizing:border-box;
}

h1{
  text-align:center;
  padding:25px;
  margin-bottom:10px;
  font-size: 30px;
}

p{
  
  width:80%;
  margin-left: auto;
  margin-right: auto;
  height:150px;
  clear: right;
}

.row{
  width:100%;
}

@media(min-width:992px)
  {
    .col-dt-1,.col-dt-2,.col-dt-3,.col-dt-4,.col-dt-5,.col-dt-6,.col-dt-7,.col-dt-8,.col-dt-9,.col-dt-10,
    .col-dt-11,.col-dt-12
    {
      float:left;
      border: 1px solid black;
      background-color: gray;
      margin: 15px;
    }

    .col-dt-4{
      width: 30%;
    }
}

@media(min-width:768px) and (max-width: 991px)
  {
    .col-tb-1,.col-tb-2,.col-tb-3,.col-tb-4,.col-tb-5,.col-tb-6,.col-tb-7,.col-tb-8,.col-tb-9,.col-tb-10,
    .col-tb-11,.col-tb-12,.sushi
    {
      float:left;
      border: 1px solid black;
      background-color: gray;
      margin: 15px;
    }
    .sushi{
      height: 150px;
    }

    .col-tb-6{
      width: 45%;
    }
}

@media(max-width:767px)
  {
    .col-ph-12
    {
      float:left;
      border: 1px solid black;
      background-color: gray;
      margin-bottom: 25px;
      height: 150px;
    }

    .col-dt-12{
      width: 80%;
    }
}

body {
  font-size:15px;
}

nav {
  float: right;
  font-size: 25px;
  margin-bottom: 5px;
  border: 1px solid black;
  width: 100px;
}

#h1{
  background-color: red;
  color: white;

}
#h2{
  background-color: green;
  color: white;
}
#h3{
  background-color: blue;
  color: white;
}
